*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    font-family: "Open Sans" sans-serif;
    font-weight: 400;
    color: whitesmoke;
}

.container{
    padding: 1.875rem;
}

.logo{
    width: 9.375rem;
    height: 2.5rem;
}

.featured-image{
    padding-bottom: 2.5rem;
}

.main-image{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.main-section{
    margin-bottom: 2.188rem;
    text-align: center;
}

.main-section h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
}

.main-section p{
    font-size: 1.2em;
    padding-bottom: 3.125rem;
}

.main-section .btn{
    background: whitesmoke;
    color: hsl(257, 40%, 49%);
    padding: .6rem 4rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 3.125rem;
    text-decoration: none;
    box-shadow: 0rem 0.313rem 0.625rem 0rem rgba(0,0,0,0.4);
    -webkit-box-shadow: 0rem 0.313rem 0.625rem 0rem rgba(0,0,0,0.4);
    -moz-box-shadow: 0rem 0.313rem 0.625rem 0rem rgba(0,0,0,0.4);
}

.main-section .btn:hover{
    background: hsl(300, 69%, 71%);
    color: whitesmoke;
}

.social-icons{
    padding-top: 3.125rem;
}

.fab-icons{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.social-icons a{
    border: 1px solid whitesmoke;
    border-radius: 50%;
    color: whitesmoke;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.25rem;
    width: 3.125rem;
    height: 3.125rem;
    text-decoration: none;
}

.social-icons a:hover{
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}

.attribution {
    font-size: 0.688rem;
    text-align: center;
    padding-bottom: .8rem;
  }

.attribution a {
    color: whitesmoke;
    text-decoration: none;
  }

@media only screen and (min-width: 768px){

    body{
        background: url(./images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: hsl(257, 40%, 49%);
    }

    .container{
        padding: 3.125rem 3.75rem;
    }

    .main-container{
        display: flex;
    }

    .main-section{
        flex: 1 1 30vw;
        margin-left: 3.125rem;
        padding-top: 2.5rem;
        text-align: left;
        
    }

    .main-section h1{
        font-size: 2.188rem;
    }

    .fab-icons{
        justify-content: end;
    }

    .main-section .btn{
        padding: 1rem 3.5rem;
    }

}

